body {
    background-image: url("https://wallpapercave.com/wp/wp1822725.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.nav-text {
    text-shadow: 2px 2px 3px #000000;
}

.nav-text:hover {
    text-shadow: 3px 3px 3px #000000;
}