html,
body {
    margin: 0;
    overflow-x: hidden;
}

body {
    background-image: url("/assets/creatorsbackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.nav-text {
    text-shadow: 1px 1px 3px #000000;
}

.nav-text:hover {
    text-shadow: 2px 2px 3px #000000;
}