#cardimg {
  border-radius: 5px 5px 0 0;
  width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.container {
  padding: 2px 16px;
}

.cardholder {
  display: flex;
  align-items: center;
  justify-content: center;
}