:root {
  --lightBlue: #00d9ff;
  --darkGreen: #009500;
  --white: #FFFFFF;
  --black: #000000;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
    background: var(--bg);
    background-image: linear-gradient(to bottom right, var(--bg), rgba(219, 219, 219, 0.513));
    background-repeat: no-repeat;
    color: var(--fontColor);
    font-family: helvetica;
  }

  .btn {
    position: absolute;
    top: 10px;
    right: 10px;;
    height: 50px;
    width: 80px;
    border-radius: 20%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  
  .light-theme {
    --bg: var(--lightBlue);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--darkGreen);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }

  .rickBanner{
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1em; 
    margin-bottom: 0.5em;
    margin-top: 0;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  .rickCard{
    width: 100%;
    margin-top: 0.5em;
  }

  .rickCard img{
    padding: 0.5em;
  }